<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<!-- PUT YOUR CODE HERE TO SHOW THE DATA-->
{{range .}}

<h1> 
{{ .AcaYear}}
</h1>
<h2>
{{ .Fall.Term}}
</h2>
{{range .Fall.Courses}}
<li>
{{.Number}} {{.Name}} {{.Units}}
</li>
{{end}}
<h2>
{{ .Spring.Term}}
</h2>
{{range .Spring.Courses}}
<li>
{{.Number}} {{.Name}} {{.Units}}
</li>
{{end}}
<h2>
{{ .Summer.Term}}
</h2>
{{range .Summer.Courses}}
<li>
{{.Number}} {{.Name}} {{.Units}}
</li>
{{end}}
{{end}}

</body>
</html>